*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	outline:none;

}
body{
	width: 100%;
	background: linear-gradient(to right, #b2fefa, #0ed2f7);
	height: 1000px;

}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #eee;
}


#ALL{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	top: 70px;
	height: 500px;
}
#ALL button{
	width: 30%;
	height: 400px;
	margin: 20px;
	margin-bottom: 150px;
	border-radius: 50%;
	border: 1px solid black;
	transition:0.2s;



}
#b1 {
	background-image: url(1.jpg);
	background-size: 100% 100%;	
	position: relative;

}
#b2 {
	background-image: url(2.jpg);
	background-size: 100% 100%;
	position: relative;
}
#b3 {
	background-image: url(3.jpg);
	background-size: 100% 100%;
	position: relative;
}
#b4 {
	background-image: url(4.jpeg);
	background-size: 100% 100%;
	position: relative;
}
#b5 {
	background-image: url(5.jpg);
	background-size: 100% 100%;
	position: relative;
}
#b6 {
	background-image: url(6.jpg);
	background-size: 100% 100%;
	position: relative;
}
#b7 {
	background-image: url(7.jpeg);
	background-size: 100% 100%;
	position: relative;
}
#b8 {
	background-image: url(8.jpeg);
	background-size: 100% 100%;
	position: relative;
}
#b9 {
	background-image: url(9.jpeg);
	background-size: 100% 100%;
	position: relative;
}
#b10 {
	background-image: url(10.jpg);
	background-size: 100% 100%;
	position: relative;
}
#b11 {
	background-image: url(11.jpg);
	background-size: 100% 100%;
	position: relative;
}
#b12 {
	background-image: url(12.jpg);
	background-size: 100% 100%;
	position: relative;
}

#ALL button:hover {
	transform: scale(1.1);
	transition:0.2s;

}

#ALL button::after{
	content: "";
	top:100%;
	bottom: 0;
	left: 100%;
	right: 100%;
	background-color: rgba(169,169,169,0.7);
	position: absolute;
	border-radius: 50%;
	transition: 0.2s;
}
#ALL button:hover::after{
	content: "";
	text-align: center;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(169,169,169,0.7);
	position: absolute;
	border-radius: 50%;
	border-radius: 50%;
	transition: 0.2s;
	z-index: -1

}
#ALL button h1{
	visibility: hidden;
	font-size: 30px;
	color: white;
	font-family: sans-serif;
	
}
#ALL button:hover h1{
	visibility: visible;
	z-index: 3;
	transition: 0.8s;
	color:white;
}
#pop {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	position: absolute;
	transition: 0.2s;
}
#d1 {
	width: 50%;
	height: 580px;
	background-color: rgba(169,169,169,0.9);
	position: absolute;
	z-index: 4;
	display: none;
	position: fixed;
	color: white;
	padding: 20px;
	text-align: center;
	overflow-y: scroll;
	top: 50px;
	


}
#d1 #close {
	background:none;
	border-radius: 0%;
	width: 20px;
	height: 20px;
	float: right;


}

#d1 h1 {
	font-size: 55px;
	font-family: 'Pacifico', cursive;
	color: black;

}
#d1 p {
	font-size: 19px;
}
span{
	color: black;
}
#d1 h3{
	font-family: 'Pacifico', cursive;
	color: black;

}
#tunisian{
	position: absolute;
	top: 600px;
}
#french{
	position: absolute;
	top: 1200px;
}
 h5 {
	text-align: center;
	width: 100%;
	font-size: 60px;
	font-family: 'Pacifico', cursive;
	font-weight: lighter;

}
#jordanian{
	position: absolute;
	top: 1780px;
}
span{
	color: black;
	font-weight: bold;
	font-size: 25px;
	font-family: sans-serif;
}