*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
body{
	height: 700px;
	width: 100%;
	background-color: black;
}
.allPage{
	height: 788px;
	width: 100%;
	background-color: #eee;
	background-image: url(1.jpg);
	background-size: 100% 100%;
	filter: blur(10px);
	transition: 1s;
}