*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
body{
	height: 600px;
	width: 100%;
	background-color: black;
}
.allPage{
	height: 750px;
	width: 100%;
	background-color: #eee;
	background-image: url(1.jpg);
	background-size: 100% 100%;
	filter: blur(10px);
	transition: 1s;
	position: relative;
}
section{
	display: flex;
	justify-content: center;
}

h1{
	position: absolute;
	z-index: 2;
	background-color: rgba(136,136,136,0.7);
	color: white;
	font-size: 70px;
	top: 120px;
	font-family: 'Kaushan Script', cursive;
	font-weight:lighter;
	width: 60%;
	text-align: center;

}
a{
	all: unset;
	cursor:pointer;

}
#sec{
	top: 220px;
	margin-top: 20px;

}
#third{
	top: 320px;
	margin-top: 40px;
}
#fourth{
	top: 420px;
	margin-top: 50px;
	
}
#fourth{
	top: 420px;
	margin-top: 50px;
	width: 23%;
	border-bottom: 1px solid white;
	border-left: 1px solid white;

}
#fourth:hover{
	
	transform: scale(1.09);
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-top: 2px solid white;
	transition: 0.3s;

}

#five{
	position: absolute;
	top: 20px;
	right: 20px;
	height: 40px;
	z-index: 5;
	width:150px;
	background-color: transparent;
	font-size: 20px;
	color: white;
	border:2px solid #ffffff;

}